@namespace BlazorScheduler.Internal.Components

<div class="appointment appointment-timed @Classes.AsString() @Appointment.Class" style="--start: @Start; --order: @Order; @Appointment.Style" @onmousedown="OnMouseDown" @onmouseup="OnMouseUp" @onmousemove="OnMouseMove">
    <span class="dot" style="background-color: @Appointment.Color;"></span>
    @Appointment.RenderChildContent()
</div>