@namespace BlazorScheduler.Internal.Components

<div class="appointment appointment-timed @Classes.AsString()" style="--start: @Start; --order: @Order;" @onclick="Appointment.Click" @onmousedown="OnMouseDown">
    <span class="dot" style="background-color: @Appointment.Color;"></span>
    @Appointment.ChildContent - @Appointment.Start.ToString("htt") to @Appointment.End.ToString("htt")
</div>