@page "/"
@inject AppointmentService AppointmentService

<Scheduler OnAddingNewAppointment="OnAddingNewAppointment" OnRequestNewData="OnRequestNewData" EnableRescheduling="true">
    <Appointments>
        @foreach (var app in _appointments)
        {
            <Appointment Start="@app.Start" End="@app.End" Color="@app.Color">
                @app.Title
                @if (app.IsTimed)
                {
                    <span>- @app.Start.ToString("htt") to @app.End.ToString("htt")</span>
                }
            </Appointment>
        }
    </Appointments>
</Scheduler>

@code {
    private List<AppointmentDto> _appointments = new();

    Task OnRequestNewData(DateTime start, DateTime end)
    {
        _appointments = AppointmentService.GetAppointments(start, end).ToList();
        return Task.CompletedTask;
    }

    Task OnAddingNewAppointment(DateTime start, DateTime end)
    {
        _appointments.Add(new AppointmentDto { Start = start, End = end, Title = "A newly added appointment!", Color = "aqua" });
        return Task.CompletedTask;
    }
}
